/* prevents horizontal scrolling */
        html {
        /*min-width: 1040px;*/
        max-width: 100%;
        overflow-x: hidden;
        }


        h1 {
        font-size: 45px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align:center
        }

        h2 {
        margin-top: 2em;
        }

        /*title for instructions*/
        #title_viz_instruct_text{
        width:99%;
        margin: 0 auto;
        color:#333;
        text-align: left;
        margin-top: 5px;
        padding-top:5px;
        margin-bottom: 5px;
        font-size: 22px;
        font-weight: 300;
        /*clear float left*/
        clear:both;
        }

        /* the instructions for the visualization should
        look like the input podcast list text title*/
        .viz_instruct_text{
        width:99%;
        margin: 0 auto;
        color:#333;
        text-align: left;
        margin-top:10px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
        }

        /*grey background*/
        .background {
        fill: #eee;
        }
        #podcast_search_container{
        margin-top: 10px;
        /*needed for some reason*/
        margin-left: 0px;
        display: none:;
        }

        /*podcast search box */
        #podcast_search_box{
        width:200px;
        /*float:left;*/
        /*display: none;*/
        }

        /*podcast search button*/
        #podcast_search_button{
        /*width:50px;*/
        /*float:left;*/
        margin-top:-2px;
        /*display: none;*/
        }

        /*clear float left*/
        #clear{
        clear:both;
        }

        /*fizing jquery autocomplete*/
        .ui-menu-item{
        float:left;
        clear: left;
        }

        /*move down submit button*/
        #podcast_search_submit{
        margin-top:5px;
        }
        
        .main-container {
            border: 3px solid #fff;
            padding: 20px;
        }

        #instructions {
            width: 25%;
            float: left;
            padding: 20px;

        }

        #viz_container {
            width: 75%;
            float: right;
            padding: 20px;

        }
        
        .wordcloud {
            height: 800px;
            width: 800px;
        }

        .my-legend .legend-title {
            text-align: left;
            margin-top: 15px;
            margin-bottom: 5px;
            font-weight: 300;
            font-size: 90%;
            }
        .my-legend .legend-scale ul {
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
            float: left;
            list-style: none;
            }
        .my-legend .legend-scale ul li {
            font-size: 80%;
            list-style: none;
            margin-left: 0;
            line-height: 18px;
            margin-bottom: 2px;
            }
        .my-legend ul.legend-labels li span {
            display: block;
            float: left;
            height: 16px;
            width: 30px;
            margin-right: 5px;
            margin-left: 0;
            border: 1px solid #999;
            font-weight: 200;
            clear:both;
            }
        .my-legend a {
            color: #777;
            }

        .d3-tip {	
        position: relative;			
        text-align: left;				
        padding: 5px;				
        font: 14px Arial;		
        font-weight: 300;
        border: 2px black;		
        border-radius: 5px;
        pointer-events: none;
        background: rgb(238, 234, 234);
        max-width: 20%;
        margin: 0 auto;
        color:#333;
        top: 30%;
        left: 10%;
	
        }